@import '#/colors.scss';
@import '#/breakpoints.scss';

.container {
  position: relative;
  z-index: 1;
}

.testLine {
  height: 2px;
  background-color: $orange;
  margin: 10px 0;

  @include media(desktop) {
    background-color: $candy;
  }
}
