@import '#/colors.scss';
@import '#/breakpoints.scss';

.container {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 24px;
  border-bottom: 1px solid $space-gray;
  background-color: $black;

  @include media(small-laptop) {
    padding: 10px 46px;
  }
}

.myPhoto {
  margin-left: 4px;
  border-radius: 50%;
}
