@import '#/colors.scss';
@import '#/breakpoints.scss';

.container {
  display: flex;
  position: relative;
  z-index: 1;
  justify-content: space-between;
  padding: 10px 24px;
  border-bottom: 1px solid $space-gray;
  align-items: center;

  @include media(desktop) {
    padding: 10px 36px;
  }
}

.myPhoto {
  border-radius: 50%;
}
