// При изменении также добавлять цвет в shared/consts/colors.ts (необходимо для компонентов mui)
$main: #675adb;

$black: #000000;
$white: #e2e3e7;
$extra-white: #fff;
$space-gray: #4d4d4d;
$candy: #38d6af;
$blue: #0288d1;
