@import '#/colors.scss';

.subContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.title {
  color: $white;
  letter-spacing: 0.025em;
}

.text {
  color: $light-gray;
  letter-spacing: 0.025em;
}
