@import '#/colors.scss';
@import '#/breakpoints.scss';

.testLine {
  height: 2px;
  background-color: $space-gray;
  margin: 10px 0;

  @include media(small-laptop) {
    background-color: $candy;
  }
}
