@import '#/colors.scss';
@import '#/breakpoints.scss';

.container {
  position: relative;
  margin: 24px 24px;
  z-index: 1;
  border: 1px solid $space-gray;
  border-radius: 8px;
  padding: 34px;
  backdrop-filter: blur(4px);
  justify-content: space-between;
  box-shadow: 0 8px 14px $main;
  transition: box-shadow 0.4s ease-in-out;

  @include media(desktop) {
    margin: 24px 36px;
  }
}

.container:hover {
  box-shadow: 0 8px 34px $main;
}
