@import '#/colors.scss';
@import '#/breakpoints.scss';

.container {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 2;
  border-bottom: 1px solid $space-gray;
  border-top: 1px solid $space-gray;
  background-color: $black;

  @include media(small-laptop) {
    padding: 10px 46px;
  }
}
