@import '#/breakpoints.scss';

.container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-direction: column;

  @include media(desktop) {
    flex-direction: row;
  }
}

.text {
  align-self: start;
  max-width: 100%;

  @include media(desktop) {
    max-width: 600px;
  }
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: nowrap;
}

.photoWrapper {
  display: flex;
  justify-content: center;
}

.photo {
  align-self: center;
  border-radius: 8px;

  @include media(desktop) {
    align-self: start;
    margin-top: 0;
  }
}
